<% if(notice) %>
  <p id="notice" class="alert alert-warning"><%= notice %></p>
<% end %>
<% if flash[:checkout_errors] and flash[:checkout_errors].any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(flash[:checkout_errors].count, "error") %> prohibited this checkout from being saved:</h2>

    <ul>
    <% flash[:checkout_errors].each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<p>
  <%#image_tag @book.cover_url, alt: @book.title %>
  <div class="book-img inline">
    <%= image_tag @book.cover.url(:large), alt: @book.title %>
    <% if(@book.checkouts.where(returned: false).empty?) %>
      <%= image_tag 'available.png', alt: 'Available', class: 'book-tag big' %>
    <% else %>
      <%= image_tag 'not-available.png', alt: 'Not Available', class: 'book-tag big' %>
    <% end %>
  </div>
</p>

<h2><%= link_to @book.title, @book %></h2>

<p>
  <strong><%= "Author".pluralize(@book.authors.count) %>:</strong>
  <%= @book.authors.map { |author| link_to(author.name, author) }.join(", ").html_safe %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @book.description %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @book.published_on %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>


<h1>Checkouts</h1>

<%= form_for([@book, @book.checkouts.build]) do |f| %>
<table class="table checkouts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Checkout Date</th>
      <th>Return Date</th>
      <th>Returned</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    
    <% @book.checkouts.all.each do |checkout| %>
      <tr>
        <td><%= checkout.name %></td>
        <td><% 
          if(checkout.checkout_date.respond_to?(:strftime)) then %> 
            <%= checkout.checkout_date.strftime('%d %b, %Y %I:%M %p') %>
          <% end %>
        </td>
        <td><%= checkout.return_date.strftime('%d %b, %Y %I:%M %p') %></td>
        <td>
          <%= link_to [@book, checkout, returned: !checkout.returned], :method => :put, :title => "Toogle to #{ checkout.returned ? 'RETURENED' : 'NOT RETURENED' }" do %>
            <% if(checkout.returned) %>
              <span class="glyphicon glyphicon-ok"></span> 
            <% else %>
               <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to [@book, checkout], :method => :delete, title: 'delete', data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> 
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr>
        <td>
          <%= f.text_field :name, :placeholder => 'Full Name' %>
        </td>
        <td>
          <div class="datetime-wrapper"><%= f.text_field :checkout_date, :placeholder => 'Checkout Date', :class => 'datetimepicker' %></div>
        </td>
        <td>
          <div class="datetime-wrapper"><%= f.text_field :return_date, :placeholder => 'Return Date', :class => 'datetimepicker' %></div>
        </td>
        <td colspan="2">
          <%= f.hidden_field :returned, value: false %>
          <%= f.submit %>
        </td>
      </tr>
  </tbody>
</table>
<% end %>